
            img{
                border-radius: 100%;
                width: 30px;
                height: 30px;
            }
            .bd-placeholder-img{ 
                
              width: 140px;
                height: 140px;
                margin: 50pt;
            }
            .rux-pvt{
              width: 140px;
              height: 140px;
            }
            .rounded-circle{
                
              width: 175px;
                height: 240px;
                margin: 40pt;
            }
            body{    
                background: linear-gradient(270deg, #699fb8, #acc9ca);
                background-size: 400% 400%;
                background-color: #ffffff;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: #555;
                -webkit-font-smoothing: antialiased;
                -webkit-overflow-scrolling: touch;
                -webkit-animation: AnimationName 5s ease infinite;
                -moz-animation: AnimationName 5s ease infinite;
                animation: AnimationName 5s ease infinite;
            }
            a {
                color: #1abc9c;
                word-wrap: break-word;
                -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
                -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
                -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
                -o-transition: color 0.1s ease-in, background 0.1s ease-in;
                transition: color 0.1s ease-in, background 0.1s ease-in;
              }
              
              a:hover, a:focus {
                color: #7b7b7b;
                text-decoration: none;
                outline: 0;
              }
              
              a:before, a:after {
                -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
                -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
                -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
                -o-transition: color 0.1s ease-in, background 0.1s ease-in;
                transition: color 0.1s ease-in, background 0.1s ease-in;
              }
              .progress-bar-theme {
                background-color: #1abc9c;
              }
              
              /* Helpers */
              
              .mt {
                margin-top: 40px;
                margin-bottom: 40px;
              }
              
              .pt {
                padding-top: 50px;
                padding-bottom: 50px;
              }
              #ww {
                padding-top: 70px;
                padding-bottom: 70px;
                background-color: #f2f2f2;
              }
              
              #footer {
                background-color: #2f2f2f;
                padding-top: 50px;
                padding-bottom: 50px;
              }
              
              #footer p {
                color: white;
              }
              
              #footer h4 {
                color: white;
                text-transform: uppercase;
                padding-bottom: 20px;
              }
              .contact-form label {
                color: #999;
              }
              
              .contact-form input, .contact-form textarea {
                padding: 10px 12px;
                border-radius: 0;
                box-shadow: none;
                font-size: 14px;
                height: auto;
              }
              
              .contact-form .form-send {
                text-align: center;
              }
              
              .contact-form .form-send button {
                background: #159bbd;
                border: 0;
                padding: 10px 30px;
                color: #fff;
                transition: 0.4s;
                cursor: pointer;
              }
              
              .contact-form .form-send button:hover {
                background:#159bbd;
              }
              
              .contact-form .validate {
                display: none;
                color: red;
                margin: 0 0 15px 0;
                font-weight: 400;
                font-size: 13px;
              }
              
              .contact-form .loading {
                display: none;
                color: #555;
                background: #fff;
                text-align: center;
                padding: 15px;
                margin: 15px 0;
              }
              
              .contact-form .loading:before {
                content: "";
                display: inline-block;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                border: 3px solid #18d26e;
                border-top-color: #eee;
                -webkit-animation: animate-loading 1s linear infinite;
                animation: animate-loading 1s linear infinite;
              }
              
              @-webkit-keyframes animate-loading {
                0% {
                  -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
                }
              
                100% {
                  -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
                }
              }
              
              @keyframes animate-loading {
                0% {
                  -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
                }
              
                100% {
                  -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
                }
              }
              
              .contact-form .error-message {
                display: none;
                color: #fff;
                background: #ed3c0d;
                text-align: center;
                padding: 15px;
                font-weight: 600;
                margin: 15px 0;
              }
              
              .contact-form .sent-message {
                display: none;
                color: #fff;
                background: #1897d2;
                text-align: center;
                padding: 15px;
                font-weight: 600;
                margin: 15px 0;
              }
              
              
              
              
            .jumbotron{
                background-image: url(10-Demain-le-mot-anglais-blanc.jpg);
                text-align: center;
                position: relative;
                top: 60px;
                text-decoration: lightsalmon;
                padding: 100pt;
                margin-bottom: 20pt;
                
            }
            h1{
                position: relative;
                top: 130pt;
                text-decoration: #2f2f2f;
            }
            
            @-webkit-keyframes AnimationName {
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }
            @-moz-keyframes AnimationName {
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }
            @keyframes AnimationName { 
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }
           
        